<div class="container-fluid home-bg">

  <div id="particles-js"></div>
  <div class="row" style="margin-top: 30vh;">
    <div class="col-md-6 center-block">
      <img src="assets/logo.png" alt="" class="logo wow fadeInDown">
    </div>
    <div class="col-md-12" style="margin-top: 15vh;">
      <div class="col-md-3 wow fadeInUp">
        <a href="<%= welcome_index_path %>" class="btn btn-home">Photography</a>
      </div>
      <div class="col-md-3 wow fadeInUp">
        <a href="<%= projects_path %>" class="btn btn-home">Portfolio</a>
      </div>
      <div class="col-md-3 wow fadeInUp">
        <a href="<%= welcome_index_path %>" class="btn btn-home">About Me</a>
      </div>
      <div class="col-md-3 wow fadeInUp">
        <a href="<%= posts_path %>" class="btn btn-home">Blogs</a>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'particles' %>
<%= javascript_include_tag 'particulas' %>
