<div class="container">
  <div class="row" style="padding-bottom: 40px;">
    <div class="col-md-10 center-block">
      <%= form_for @project do |f| %>
        <% if @project.errors.any?%>
          <h2><%= pluralize(@project.errors.count, "error") %> prevented this project from saving:</h2>
          <ul>
            <% @project.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <%end%>
          </ul>
        <%end%>
        <div class="form-group">
          <label><%= f.label :title %></label>
          <%= f.text_field :title, {class: 'form-control'}%>
        </div>

        <div class="form-group">
          <label><%= f.label :description %></label>
          <%= f.text_area :description, {class: 'form-control text-area-h'}%>
        </div>

        <div class="form-group">
          <label><%= f.label :link %></label>
          <%= f.text_field :link, {class: 'form-control'}%>
        </div>

        <button type="submit" class="btn sendbtn">Submit</button>
      <% end %>
    </div>
  </div>
</div>